<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1>
    <center>Выберите опцию</center>
</h1>
<center>
    <!-- Гиперссылка для просмотра всех записей -->
    <a style="font-size: 24px; line-height: 3" href="http://127.0.0.1:5000/api/rows">Просмотреть все записи</a>

    <script src="{{url_for('static', filename='home.js')}}"></script>

    <!-- Просмотр записи по id -->
    <form action="" method="get" id="row_number">
        <label style="font-size: 24px; line-height: 3" for="row_id">Просмотреть запись с id</label>
        <input type="text" placeholder="введите id" id="row_id" required>
    </form>

    <script>get_row_by_id()</script>

    <!-- Просмотр числа обращений за указанный час -->
    <form action="" method="get" id="hour_number">
        <label style="font-size: 24px; line-height: 3" for="hour_id">Просмотреть число обращений за конкретный час </label>
        <input type="text" placeholder="введите час" id="hour_id" required>
    </form>

    <script>get_hour_num_of_calls()</script>

    <!-- Удаление строки по id -->
    <form action="" method="get" id="delete_row_number">
        <label style="font-size: 24px; line-height: 3" for="delete_row_id">Удалить запись с id </label>
        <input type="text" placeholder="введите id" id="delete_row_id" required>
    </form>

    <script>delete_row_by_id()</script>

    <!-- Вернуть записи таблицы в первоначальный вид -->
    <a style="font-size: 24px; line-height: 3" onclick="alert('Записи восстановлены');"
       methods="GET" href="http://127.0.0.1:5000/api/rows/restore">Восстановить записи
    </a>


</center>
</body>
</html>
